# env / secrets
.env
*.env

# TLS private keys
nginx/certs/*.key

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/

# OS/editor
.DS_Store
.idea/
.vscode/

# Logs
*.log

# help_files
help_com.txt

# local test / backup files
big_body.txt
*.backup
docker-compose.override1.yml
